/* Azul claro (#A9D6E5), branco (#FFFFFF), cinza claro (#F3F4F6), e verde suave (#90BE6D).*/

* {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  background-color: #F3F4F6;
  display: flex;
  height: 60px;
  justify-content: center;
  align-content: center;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #F3F4F6;
  display: flex;
  height: 60px;
}

#link-header {
  color: #1e1e1e;
  text-decoration: none;
  margin-top: 18px;
  margin-left: 55px;
  margin-right: 55px;
}

#link-header:active {
  opacity: 25%;
}

#link-footer {
  color: #1e1e1e;
  text-decoration: none;
  margin-top: 18px;
  margin-left: 55px;
  margin-right: 55px;
}

#link-footer:active {
  opacity: 25%;
}

#small-img{
    width: 22px;
    height: 22px;
}
#home {
    background-image: url(../assets/img/sorriso.jpg);
    background-size: cover;
    height: 600px;
    justify-content: center;
    align-content: center;
    display: flex;
}

#servicos{
    background-color: white;
    height: 800px;
    justify-content: center;
    align-content: center;
    display: flex;
}

#galeria{
    background-color: #A9D6E5;
    height: 600px;
}

#contato{
    background-color: white;
    height: 600px;
}

#box-group{
    display: flex;
    flex-direction: row;
}

#home-box{
    margin-top: 400px;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #A9D6E5;
    height: 200px;
    width: 350px;
    text-align: center;
}

#home-box-text{
    margin-top: 70px;
    font-weight: 600;
    font-size: 55px;
}

#servicos-box{
  margin: 195px 15px 15px 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #90BE6D;
  height: 370px;
  width: 320px;
  text-align: center;
  border-radius: 5px;
}

#servicos-box-title{
  margin: -35px 12px 12px 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #577242;
  height: 70px;
  width: 220px;
  text-align: center;
  box-shadow:  0px 5px 15px #1e1e1e;
  border-radius: 5px;
}

#servicos-box-text{
  margin-top: 14px;
  font-weight: 600;
  font-size: 30px;
}