/* Azul claro (#A9D6E5), branco (#FFFFFF), cinza claro (#F3F4F6), e verde suave (#90BE6D).*/

* {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

header {
  background-color: #F3F4F6;
  display: flex;
  height: 60px;
  justify-content: center;
  align-content: center;
}

footer {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #F3F4F6;
  display: flex;
  height: 60px;
}

#welcome-box{
  margin-top: 50px;
  margin-left: 400px;
  width: 1000px;
  float: right;
}

#secondary-welcome-title{
  font-size: 50px;
  text-align: center;
}

#welcome-title{
  color: white;
  font-size: 120px;
  text-align: center;
}

#link-header {
  color: #1e1e1e;
  text-decoration: none;
  margin-top: 18px;
  margin-left: 55px;
  margin-right: 55px;
}

#link-header:active {
  opacity: 25%;
}

#link-footer {
  color: #1e1e1e;
  text-decoration: none;
  margin-top: 18px;
  margin-left: 55px;
  margin-right: 55px;
}

#link-footer:active {
  opacity: 25%;
}

#small-img{
    width: 22px;
    height: 22px;
}

#home {
    background-image: url(../assets/img/sorriso.jpg);
    background-size: cover;
    min-height: 800px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

#servicos{
  background-color: white;
    height: 800px;
    justify-content: center;
    align-content: center;
    display: flex;
}

#galeria{
    background-color: #A9D6E5;
    height: 800px;
}#depoimento{
  background-color: white;
  height: 900px;
}

#contato{
  background-color: #A9D6E5;
    height: 800px;
}

#box-group{
    display: flex;
    flex-direction: row;
}

#home-box{
    margin-top: 250px;
    opacity: 70%;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #A9D6E5;
    height: 300px;
    width: 450px;
    text-align: center;
}

#home-box-text{
    margin-top: 100px;
    font-weight: 600;
    font-size: 55px;
}

#servicos-box{
  margin: 195px 25px 25px 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #90BE6D;
  height: 370px;
  width: 320px;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

#servicos-box-title{
  margin: 0px 12px 12px 50px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #577242;
  height: 70px;
  width: 220px;
  text-align: center;
  box-shadow:  0px 5px 15px #1e1e1e;
  border-radius: 5px;
}

#servicos-box-text{
  margin-top: 7px;
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 30px;
}

#serv-img{
  margin-top: 15px;
  margin-left: 35px;
  width: 250px;
  height: 170px;
  border-radius: 5px;
  box-shadow:  0px 5px 15px #1e1e1e;
}

#img-box{
  margin: 30px 10px -10px 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #F3F4F6;
  height: 350px;
  width: 350px;
  text-align: center;
  border-radius: 5px;
  box-shadow:  0px 5px 15px #1e1e1e;
}

#img {
  border-radius: 5px;
  margin-top: 14px;
  height: 320px;
  width: 300px;
}

.visuallyhidden {
  position: absolute;
  z-index: -1;
  right: 0;
  opacity: 0;
  
}

.container {
  overflow: hidden;
  padding: 20px;
  margin-top: 2em;
  background: rgba(0,0,0,.1)
}

.card-carousel {
  --card-width: 750px;
  --card-height: 700px;
  --carousel-min-width: 600px;
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: var(--card-height);
  min-width: var(--carousel-min-width);
  transition: filter .3s ease;
}

@media screen and (max-width: 640px) {
  .card-carousel {
    margin-left: calc((100vw - var(--carousel-min-width) - 40px) / 2)
  }
}

.card-carousel.smooth-return {
  transition: all .2s ease;
}

.card-carousel .card {
  background: #A9D6E5;
  width: var(--card-width);
  max-width: var(--card-max-width);
  text-align: center;
  padding: 1em;
  min-width: 250px;
  height: var(--card-height);
  position: absolute;
  margin: 0 auto;
  color: rgba(0,0,0,.5);
  transition: inherit;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.3);
  border-radius: 1em;
  filter: brightness(.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card.highlight {
  filter: brightness(1)
}


.card:nth-of-type(1) .image-container {
    background-image: url("https://static.addtoany.com/images/dracaena-cinnabari.jpg");
}
 
.card:nth-of-type(2) .image-container {
  background-image: url("https://www.w3schools.com/w3css/img_lights.jpg")
}

.card:nth-of-type(3) .image-container {
  background-image: url("https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
}
.card:nth-of-type(4) .image-container {
  background-image: url("https://images.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500")
}
.card:nth-of-type(5) .image-container {
  background-image: url("https://helpx.adobe.com/content/dam/help/en/stock/how-to/visual-reverse-image-search/jcr_content/main-pars/image/visual-reverse-image-search-v2_intro.jpg")
}



.image-container {
  width: 8em;
  height: 8em;
  position: relative;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
  padding: 1em;
  -webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
-moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.3);
  
}

.image-container::after {
  content: "";
  display: block;
  width: 120%;
  height: 120%;
  border: solid 3px rgba(0,0,0,.1);
  border-radius: 100%;
  position: absolute;
  top: calc(-10% - 3px);
  left: calc(-10% - 3px);
}

.card h1{
  color: white;
  font-size: 50px;
}

.card p{
  font-size: 24px;
}

#box1{
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #43565c;
  height: 100px;
  width: 500px;
  text-align: center;
  border-radius: 25px;
  box-shadow:  0px 7px 10px #929292;
  color: white;
}

form{
  font-size: 24px;
  font-weight: 300;
  margin-left: 350px;
  margin-bottom: -5000px;
}

#caixa-texto{
  border: 0px;
  border-radius: 5px;
  height: 40px;
  width: 500px;
  margin-left: 25px;
  margin-right: 25px;
}

#caixa-texto-msg{
  border: 0px;
  border-radius: 5px;
  width: 1055px;
  margin-left: 25px;
  margin-right: 25px;
}

#row{
  display: flex;
  flex-direction: row;
}